#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 768px) {
  #root {
    max-width: 100%;
    padding: 0;
  }
}

@media (min-width: 769px) {
  #root {
    padding: 2rem;
  }
}
